/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes at least the full viewport height */
}

main {
    border:solid black;
    border-radius: 10px;
}

header {
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 20px;
    border:solid blue;
    border-radius: 10px;

}

/* Style the navigation menu using flexbox */
.nav-menu {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    background-color:deeppink;
    padding: 10px;
    border:solid orangered;
    border-radius: 10px;
}

.nav-menu ul {
    list-style-type: none;
    display: flex; /* Use flexbox for the list items */
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Style for visited links */
.nav-menu a:visited {
    color: blue; /* Change to your desired color */
}

/* Style for hover links */
.nav-menu a:hover {
    color: black; /* Change to your desired hover color */
}

/* Style for active links (if needed) */
.nav-menu a:active {
    color: #ff3300; /* Change to your desired active color */
}


/*  HOME PAGE STYLING*/

#home-page-main {
    background: url(../images/background-home.jpg);
    background-repeat: no-repeat;
    font-size: 20px; /* Increase the font size for list items */
}

/*CSS to style the flex container and its children */
.welcome-section .flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    flex-direction: row; /* Arrange children side by side */
    align-items: center; /* Center vertically */
}

.welcome-section .image-container {
    flex: 1; /* Flex to occupy equal width */
    padding: 20px; /* Add spacing between image and text */
}

.welcome-section .text-container {
    flex: 2; /* Flex to occupy double width compared to image */
    padding: 20px; /* Add spacing between image and text */
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 5px; /* Add rounded corners to the box */
}
/* Add space between h2 and p */
.welcome-section h2 {
    margin-bottom: 20px; /* Adjust the space as needed */
    color: blue; /* Change to your desired color */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px; /* Change to your desired font size */
    text-align: center;
}

/* Additional styling */
.welcome-section .image-container img {
    width: 400px; 
    height: 500px; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
}
/* Justify the content of p */
.welcome-section p {
    text-align: justify;
    margin-bottom: 10px;
}


/* ABOUT PAGE STYLING*/


#about-page-main {
    background: url(../images/background-home.jpg);
    background-repeat: no-repeat;
}

#myImage {
    border-radius: 50%;
    height: 400px;
    width: 400px ;

}

.about-section .about-flex-container {
    display: flex;
    flex-direction: column; /* Arrange children side by side */
    align-items: center; /* Center vertically */
}

.about-text-box {
    padding: 50px; /* Add some padding to the box */
    flex-grow: 1; /* Allow the box to grow and fill available space */
}

/* Add the following CSS to style the flex container and its children */
.about-section {
    padding: 20px;
    margin: 20px;
    background-color: pink;
}

.about-social {
    padding: 20px;
    margin: 20px;
    background-color: pink;
    text-align: center; /* Center the content horizontally */
    font-size: 20px; /* Increase the font size for list items */
}

/* Style the list of social media links */
.about-social ul {
    list-style: none; /* Remove bullet points from the list */
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping into multiple rows */
    justify-content: space-between; /* Distribute items evenly */
}

/* Style individual social media list items */
.about-social ul li {
    flex-basis: 48%; /* Adjust the width as needed for 2 columns with a small gap */
    margin-bottom: 10px; /* Add some vertical spacing between items */
    font-size: 20px; /* Increase the font size for list items */
}


/* Style for h2 */
.about-section h2 {
    margin-bottom: 10px;
    color: blue;
    font-size: 36px; /* Increase the font size for headings */
    text-align: center;
}

.about-section li {
    font-size: 20px; /* Increase the font size for list items */
    margin: 10px 0;
    color: black;
}


/*CONTENT PAGE STYLING*/

#content-page-main h2, h3 {
    text-align: center;
    background-color: deeppink;

}

#content-page-main {
background-color: palevioletred;
}

#content-page-main p{
    color: white;
    }

#content-page-main img {
    height: 400px;
    width: 400px;
}

.first-section .first-section-content, .second-section .second-section-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    flex-direction: row; /* Arrange children side by side */

}


/* Style the box containing the image and text */
.first-section .first-section-content .box, .second-section .second-section-content .box {
    flex: 1; /* Distribute available space equally among boxes */
    text-align: justify; /* Justify text within the box */
    padding: 20px; /* Add padding to create boxes */
    width: 400px;
    margin-left: 50px;
   
}

/* Style the image within the box */
.first-section .first-section-content .box img, .second-section .second-section-content .box img {
    display: block; /* Make the image a block element to center it */
    margin: 0 auto 10px; /* Center the image horizontally and add margin below it */
    max-width: 100%; /* Make the image width equal to the box width */
    height: auto; /* Maintain aspect ratio */
}


.third-section .third-section-flex {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    flex-direction: column;
    align-items: center; /* Center vertically */
}

.content-text-box {
    padding: 100px; /* Add some padding to the box */
    flex-grow: 1; /* Allow the box to grow and fill available space */


}
 
.woman {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Add border to separate image and text */
    padding: 10px; /* Add padding for spacing */
}

.woman img {
    width: 400px;
    padding-right: 100px;
}

.woman-info {
    flex: 1;
}

.woman-info h4 {
    margin: 0;
}



/*BLOG PAGE STYLING*/

/* Style the main content area */
#blog-page-main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: palevioletred;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blog-body{
    background: url(../images/background-home.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Style blog post content */
.blog-post {
    margin-bottom: 20px;
}

.blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.blog-post p {
    font-size: 16px;
    line-height: 1.6;
    color:white;
    text-align: justify;
}

.related-posts {
    margin-top: 30px;
    padding: 20px;
}

.related-posts p {
    text-align: center;
}

.related-posts img{
    align-items: center; /* Horizontal centering */
    width: 400px;
    height:400px;

}



/*Now Playing Page*/
#nowplaying-body{
    background: url(../images/background-home.jpg);
    background-repeat: no-repeat;
   
}

#nowplaying-main {
    background-color: palevioletred;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add a gap between h2 and p */
.song-info h2 {
    margin-bottom: 10px;
    text-align: center;
}

/* Add a gap between paragraphs */
.song-info p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

/* Add a gap between p and the audio player */
.audio-player {
    margin-top: 20px;
    text-align: center;
}



/* FOOTER STYLING*/
footer {
    text-align: center;
    padding: 10px;
    background-color: deeppink;
    color: white;
    margin-top: auto; /* Push the footer to the bottom */
}
